<!DOCTYPE html>
<html>
<head>
	<title>网站测试</title>

	<meta charset="utf-8">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<!-- vue -->
	<script src="/static/js/vue.js"></script>
	<!-- csrf token -->
	<script type="text/javascript" src="/static/js/csrf.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" role='navigation'>
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">网站搭建测试</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">首页</a></li>
				<li><a href="#">待办事项</a></li>
				{% if request.user.is_authenticated %}
				<li><a href="#">当前用户：{{ request.user.name }}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						个人中心 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">定制工具</a></li>
						<li><a href="#">？</a></li>
						<li><a href="#">？</a></li>
						<li class="divider"><a href="#"></a></li>
						<li><a href="#">修改个人信息</a></li>
						<li class="diveder"><a href="#"></a></li>
						<li><a href="/accounts/logout/">登出</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="/accounts/login/">登陆</a></li>
				<li><a href="/accounts/register/">注册</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<div class="container container-center jumbotron">
	<div class="clo-sm-8 clo-sm-dffset-4">
		{% block content %}
		<div id="app" class="from-group">
			<p class="from-control" v-text="aaa"></p>
			<span>Input here:</span>
			<input class="from-control" v-model="aaa">
		</div>
		{% endblock %}
		{% for blog in blogs %}
		<article class="article">
			<h2><a href="#"><b>{{ blog.name }}</b></a></h2>
			{% load poll_extras %}
			<p class="small text-secondary">发表于{{ blog.create_at|datetime }}</p>
			<p class="text-secondary">{{ blog.content }}</p>
			<p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-reght"></i></a></p>
		</article>
		<hr class="article-divider">
		{% empty %}
		<h2>暂无通知</h2>
		{% endfor %}
	</div>
</div>

{% block vuejs %}
<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		data:{
			aaa:'',
		}
	})
</script>
{% endblock %}
</body>
</html>